#validation_typing{
  padding-left: 200px;
  color: green;
}

.delete_btn{
  width: 10px;
  height: 10px;
  padding-left: 70px;
}

#interests_ul{
  width: 800px;
}

#interests_ul li{
  width: 200px;
}
