#validation_typing{
  padding-left: 200px;
  color: green;
}

#interests_ul{
  width: 800px;
}

#interests_ul li{
  width: 200px;
}

#banner{
  color: white;
  font-size: 72px;
  font-family: cursive;
}


input[type=submit] {
  padding:5px 15px;
  background:#37FA2C;
  border:0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 7px;
